
@{
    ViewData["Title"] = "Testimonials";
    Layout = "~/Views/Shared/_Layout_website.cshtml";
}

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

     

        <div class="row mt-5">

          <div class="col-lg-6  mt-lg-0 flex ">
              <img src="/images/quality.png" class="illustrations_ " />
                         <h4  class="text-bold">Administration<span class="color"> panel Log in </span><br/></h4>
                         <span class="font_small_ ">Administration Panel.</span>
             

              </div>

          <div class="col-lg-6  mt-lg-0 flex_border">
              <div class="outer-card ">
                  <span class="font_small_">Please select module to access</span>
                   <div ><a href="/system_two/log_in" type="submit" class="send category mt-5">Workshop</a></div>
              <div >
                  <a href="/log_in/log_in" type="submit" class="send category mt-3">Shop</a></div>
              </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
