  @{Layout = "~/Views/Shared/_Layout_website.cshtml";}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    
    <!-- ======= Blog Section ======= -->
    <section id="blog " class="blog mt-5">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-12 entries">

            <article class="entry">

              <div class="entry-img">
                <img src="https://res.cloudinary.com/dqab6gg7d/image/upload/v1677580644/Agusto/w4_qhto0w.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="blog-single.html">Agusto Tech Fuel station</a>
              </h2>

          

              <div class="entry-content">
                <p>
                 Welcome to our petrol station! We are delighted to offer you high-quality fuel products and excellent customer service. Whether you need petrol, diesel or any other fuel, we've got you covered. Our fuel is specially formulated to keep your engine running smoothly and efficiently, helping you to get the most out of your vehicle. Our friendly and knowledgeable staff are always on hand to assist you with any questions or concerns you may have. We invite you to visit our petrol station and experience the difference for yourself. Thank you for choosing us as your fuel provider! </p>
               
              </div>
               <section id="pricing" class="pricing bg-none">
      <div class="container">
            <h2 class="entry-title">
                <a href="blog-single.html">Fuel prices</a>
              </h2>
        <div class="row">

              @foreach (var item in  ViewBag.fuel)
            {
          <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
            <div class="box featured">
              <h3>@item.Fuel_names</h3>
              @* <ul>
                <li class="na">@(110/100* @item.Price)</li>               
              </ul>*@
              <h4><sup>Ksh.</sup>@item.Price<span></span></h4>
             
             
            </div>
          </div>
          }
         

        </div>

      </div>
    </section>
            </article><!-- End blog entry -->

            <!-- End Pricing Section -->


          </div><!-- End blog entries list -->

  </main><!-- End #main -->

