
@{
    ViewData["Title"] = "Testimonials";
    Layout = "~/Views/Shared/_Layout_website.cshtml";
}

   <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Testimonials</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Testimonials</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">
            <div class="testimonial-item">
              <h3>To be edited</h3>
   
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                I have been a loyal customer of this petrol station for years, and I can confidently say that they provide excellent service every time. The attendants are friendly and efficient, and the pumps are always in good working condition. I appreciate the convenience of being able to fuel up quickly and easily whenever I need to, and I trust the quality of the petrol they provide. Overall, I highly recommend this petrol station to anyone in need of reliable fuel and top-notch customer service. <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="testimonial-item">
              <h3>To be edited</h3>
   
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
               "I recently filled up at this fuel station and was pleasantly surprised by the exceptional service I received. The attendants were professional and courteous, and they made the whole fueling process quick and easy. The quality of the fuel was evident in the smooth performance of my vehicle after I left the station. I appreciate the convenience of having a reliable fuel station close by, and I would highly recommend this one to anyone in the area. Overall, my experience as a fuel customer was excellent, and I will definitely be returning for my future fueling needs.</p>
            </div>
          </div>

         

        </div>

      </div>
    </section><!-- End Testimonials Section -->


