@model SHOP_DECOMPILED.Models.System_users

@{
    ViewData["Title"] = "Create new uers";
    Layout = "~/Views/Shared/fuel_layout.cshtml";

}

<div class="container-fluid w3-card p-3 bg-white">
    <h5>MODIFY SYSTEM USER</h5>

</div>

<p>
    <a asp-action="Create" class="btn w3-card bg-white mt-3"><i class="fa fa-plus-circle" aria-hidden="true"></i> &nbsp;Add New</a>
</p>
<div class="container-fluid" style="overflow:scroll">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="group">


                    <input asp-for="Full_name" class="form-control" />
                    <input asp-for="station_id" hidden class="form-control" />

                    <span class="highlight"></span>
                    <span asp-validation-for="Full_name" class="bar"></span>
                    <label asp-for="Full_name"></label>


                </div>

                <div class="group">

                    <input asp-for="Phone" class="form-control" />
                    <span class="highlight"></span>
                    <span asp-validation-for="Phone" class="bar"></span>
                    <label asp-for="Phone"></label>


                </div>
                <div class="group">

                    <input asp-for="National_id" class="form-control" />
                    <span class="highlight"></span>
                    <span asp-validation-for="National_id" class="bar"></span>
                    <label asp-for="National_id"></label>


                </div>
                <div class="group">

                    <input asp-for="Password" class="form-control" />
                    <span class="highlight"></span>
                    <span asp-validation-for="Password" class="bar"></span>
                    <label asp-for="Password"></label>


                </div>
                @if (User.Identity.Name == "1")
                {
                    <div class="group">


                        <select asp-for="Roles" class="form-control">
                            <option value="1">Admin</option>
                            <option value="2">Attendant</option>

                        </select>
                        <span class="highlight"></span>
                        <span asp-validation-for="Roles" class="bar"></span>
                        <label asp-for="Roles"></label>


                    </div>
                }
                else
                {
                    <div class="group">


                        <select asp-for="Roles" class="form-control" disabled>
                            <option value="1">Admin</option>
                            <option value="2">Attendant</option>

                        </select>
                        <span class="highlight"></span>
                        <span asp-validation-for="Roles" class="bar"></span>
                        <label asp-for="Roles"></label>


                    </div>
                }
                <div class="form-group">
                    @*<input type="ubmit" value="Create" class="btn btn-white w3-card" />*@
                    <button type="submit" class="btn btn-white bg-white w3-card"><i class="fa fa-cloud-upload" aria-hidden="true"></i> &nbsp;Submit changes</button>
                </div>
            </form>
        </div>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
