@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout_other.cshtml";

}

<div class="text-center">
    <img src="~/Images/saina_logo.png"  class="logo"/>
    <h1 class="display-4 color">Welcome to Saina Stores</h1>
    <p><a href="#" class="btn btn-default button-general">Please Log in to proceed</a></p>
</div>
