@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout_other.cshtml";

}

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8"><div class="card_log_in text-center">
    <div class="container-fluid text-center">

   
                <p class="text">Please select Products to access</p>
                <div class="row product">
                    <div class="col-lg-2 col-2">

                        <img src="~/Images/resume.png" class="top_logo" />

                    </div>
                    <div class="col-lg-10 col-10 text-left">
                        <h6 class="text">DELIVERY</h6>

                    </div>
                </div><div class="row product">
    <div class="col-lg-2 col-2">

        <img src="~/Images/invoice.png" class="top_logo" />

    </div>
    <div class="col-lg-10 col-10 text-left">

        <h6 class="text">INVOICE</h6>

    </div>
</div><div class="row product">
    <div class="col-lg-2 col-2">
        <img src="~/Images/receipt.png" class="top_logo" />

    </div>
    <div class="col-lg-10 col-10 text-left">

        <h6 class="text">RECEIPT</h6>

    </div>
</div>
 
</div></div></div>
    <div class="col-lg-2"></div>
</div>

