@{ ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout_website.cshtml"; }
<!DOCTYPE html>
<html lang="en">


<body>

    <div class="loader">
        <div class="loader-inner">
            <div class="cssload-loader"></div>
        </div>
    </div>

    <section id="main-banner-area" class="position-relative">
        <div id="revo_main_wrapper" class="rev_slider_wrapper fullwidthbanner-container m-0 p-0 bg-dark" data-alias="classic4export" data-source="gallery">
            <!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
            <div id="rev_main" class="rev_slider fullwidthabanner white" data-version="5.4.1">
                <ul>
                    <!-- SLIDE 1 -->
                    <li data-index="rs-01" data-transition="fade" data-slotamount="default" data-easein="Power100.easeIn" data-easeout="Power100.easeOut" data-masterspeed="2000" data-fsmasterspeed="1500" data-param1="01">
                        <!-- MAIN IMAGE -->
                        <img src="~/images/general.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-resizeme"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-130','-130','-110','-80']"
                             data-width="none" data-height="none" data-type="text"
                             data-textAlign="['center','center','center','center']"
                             data-responsive_offset="on" data-start="1000"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                            <h1 class=" font-xlight whitecolor text-center">Welcome to</h1>
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-resizeme"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-50','-20']"
                             data-width="none" data-height="none" data-type="text"
                             data-textAlign="['center','center','center','center']"
                             data-responsive_offset="on" data-start="1000"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                            <h1 class="text-capitalize font-bold whitecolor text-center">DONS PLACE</h1>
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption tp-resizeme"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','10','40']"
                             data-width="none" data-height="none" data-type="text"
                             data-textAlign="['center','center','center','center']"
                             data-responsive_offset="on" data-start="1500"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                            <h1 class="text-capitalize font-xlight whitecolor text-center">Your best choice</h1>
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption tp-resizeme"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['40','40','60','90']"
                             data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                             data-textAlign="['center','center','center','center']"
                             data-responsive_offset="on" data-start="2000"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                            <h4 class="whitecolor font-xlight text-center">The Best Multiservice Offers in Market</h4>
                        </div>
                    </li>
                    <!-- SLIDE 2 -->
                    <li data-index="rs-02" data-transition="fade" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="2000" data-fsmasterspeed="1500" data-param1="02">
                        <!-- MAIN IMAGE -->
                        <img src="~/images/petrol view.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-resizeme"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-130','-130','-110','-80']"
                             data-width="none" data-height="none" data-type="text"
                             data-textAlign="['center','center','center','center']"
                             data-responsive_offset="on" data-start="1000"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                            <h1 class=" font-xlight whitecolor text-center">Welcome to </h1>
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-resizeme"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-50','-20']"
                             data-width="none" data-height="none" data-type="text"
                             data-textAlign="['center','center','center','center']"
                             data-responsive_offset="on" data-start="1000"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                            <h1 class="text-capitalize font-bold whitecolor text-center">DONS PLACE</h1>
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption tp-resizeme"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','10','40']"
                             data-width="none" data-height="none" data-type="text"
                             data-textAlign="['center','center','center','center']"
                             data-responsive_offset="on" data-start="1500"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                            <h1 class="text-capitalize font-xlight whitecolor text-center">Your Choice</h1>
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption tp-resizeme"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['40','40','60','90']"
                             data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                             data-textAlign="['center','center','center','center']"
                             data-responsive_offset="on" data-start="2000"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                            <h4 class="whitecolor font-xlight text-center">The Best Multiservice Offers in Market</h4>
                        </div>
                    </li>
                    <!-- SLIDE 3 -->
                    <li data-index="rs-03" data-transition="fade" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="2000" data-fsmasterspeed="1500" data-param1="03">
                        <!-- MAIN IMAGE -->
                        <img src="~/images/aerialview2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-resizeme"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-130','-130','-110','-80']"
                             data-width="none" data-height="none" data-type="text"
                             data-textAlign="['center','center','center','center']"
                             data-responsive_offset="on" data-start="1000"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                            <h1 class=" font-xlight whitecolor text-center">Welcome to</h1>
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-resizeme"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-50','-20']"
                             data-width="none" data-height="none" data-type="text"
                             data-textAlign="['center','center','center','center']"
                             data-responsive_offset="on" data-start="1000"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                            <h1 class="text-capitalize font-bold whitecolor text-center">DONS PLACE</h1>
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption tp-resizeme"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','10','40']"
                             data-width="none" data-height="none" data-type="text"
                             data-textAlign="['center','center','center','center']"
                             data-responsive_offset="on" data-start="1500"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                            <h1 class="text-capitalize font-xlight whitecolor text-center">Your Choice</h1>
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption tp-resizeme"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['40','40','60','90']"
                             data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                             data-textAlign="['center','center','center','center']"
                             data-responsive_offset="on" data-start="2000"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                            <h4 class="whitecolor font-xlight text-center">The Best Multiservice Offers in Market</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="social-icons-simple revicon white">
            <li class="d-table"><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a> </li>
            <li class="d-table"><a href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
            <li class="d-table"><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i> </a> </li>
            <li class="d-table"><a href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
        </ul>
    </section>
    <!--Main Slider ends -->
    <!--Some Services-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="services-slider" class="owl-carousel">
                    <div class="item">
                        <div class="service-box">
                            <span class="bottom25"><i class="fa fa-car"></i></span>
                            <h4 class="bottom10 text-nowrap"><a href="javascript:void(0)">Fuel Station</a></h4>
                            <p>We sell  Petrol and Diesel  at an affordable prices.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="service-box">
                            <span class="bottom25"><i class="fa fa-wrench"></i></span>
                            <h4 class="bottom10"><a href="javascript:void(0)">Garrage</a></h4>
                            <p>Good offer garage services for all vehicles. </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="service-box">
                            <span class="bottom25"><i class="fa fa-shopping-cart"></i></span>
                            <h4 class="bottom10"><a href="javascript:void(0)">Supermarket</a></h4>
                            <p>A Good shoping supermarket for your household staffs.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="service-box">
                            <span class="bottom25"><i class="fa fa-tint"></i></span>
                            <h4 class="bottom10"><a href="javascript:void(0)">Lubricants</a></h4>
                            <p>We sell veriety of lubricants and spare parts for your vehicle.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="service-box">
                            <span class="bottom25"><i class="fa fa-bath"></i></span>
                            <h4 class="bottom10"><a href="javascript:void(0)">Car wash</a></h4>
                            <p>Best car wash services for all vehicles at an affordable price.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Some Services ends-->
    <!--Some Feature -->
    <section id="our-feature" class="single-feature padding_bottom padding_top_half mt-1 mt-lg-n4 mt-md-n3">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 col-md-7 col-sm-7 text-sm-left text-center wow fadeInLeft" data-wow-delay="300ms">
                    <div class="heading-title mb-4">
                        <h2 class="darkcolor font-normal bottom30">Dons investments <span class="defaultcolor">Everyone's Choice</span> </h2>
                    </div>
                    <p class="bottom35">
                        We’re committed to providing the best customer service possible. In order to meet this promise, we vow to only hire friendly, positive people that share our core values, passion for helping others and obsession with customer service. When you place your trust in us, here’s what you can expect in return:

                    </p>
                    <a href="#our-team" class="button btnsecondary gradient-btn pagescroll mb-sm-0 mb-4">Learn More</a>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-5 col-sm-5 wow fadeInRight" data-wow-delay="300ms">
                    <div class="image"><img alt="SEO" src="~/images/petrol view.jpg"></div>
                </div>
            </div>
        </div>
    </section>
    <!--Some Feature ends-->
    <!-- WOrk Process-->
    <section id="our-process" class="padding bgdark">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <div class="heading-title whitecolor wow fadeInUp" data-wow-delay="300ms">
                      
                        <h2 class="font-normal">Our Services </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <ul class="process-wrapp">
                    <li class="whitecolor wow fadeIn" data-wow-delay="300ms">
                        <span class="pro-step bottom20">01</span>
                        <p class="fontbold bottom25">Fuel Station</p>
                        <p class="mt-n2 mt-sm-0">We are selling Unleaded petrol and Diesel at best price.</p>
                    </li>
                    <li class="whitecolor wow fadeIn" data-wow-delay="400ms">
                        <span class="pro-step bottom20">02</span>
                        <p class="fontbold bottom25">Supermarket</p>
                        <p class="mt-n2 mt-sm-0">A Good shoping supermarket for your household staffs...</p>
                    </li>
                    <li class="whitecolor wow fadeIn active" data-wow-delay="500ms">
                        <span class="pro-step bottom20">03</span>
                        <p class="fontbold bottom25">Garrage</p>
                        <p class="mt-n2 mt-sm-0">Good garage services for all vehicles ...</p>
                    </li>
                    <li class="whitecolor wow fadeIn" data-wow-delay="600ms">
                        <span class="pro-step bottom20">04</span>
                        <p class="fontbold bottom25">Lubricants</p>
                        <p class="mt-n2 mt-sm-0">We sell a veriety of lubricants and spareparts...</p>
                    </li>
                    <li class="whitecolor wow fadeIn" data-wow-delay="700ms">
                        <span class="pro-step bottom20">05</span>
                        <p class="fontbold bottom25">Car wash</p>
                        <p class="mt-n2 mt-sm-0">
                            At Dons place, we offer an extensive range of car wash and cleaning services.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--WOrk Process ends-->
    <!-- Mobile Apps -->
    <section id="our-apps" class="padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7 col-sm-12">
                    <div class="heading-title bottom30 wow fadeInUp" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
                        <span class="defaultcolor text-center text-md-left"></span>
                        <h2 class="darkcolor font-normal text-center text-md-left">Core activities in detail.</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5 col-sm-12">
                    <p class="text-center text-md-left">Dons place provide high quality products and services to customers.Customers sutisfunction is our aim.We provide the following... </p>
                </div>
            </div>
            <div class="row d-flex align-items-center" id="app-feature">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="text-center text-md-right">
                        <div class="feature-item mt-3 wow fadeInLeft" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInLeft;">
                            <div class="icon"><i class="fas fa-tint"></i></div>
                            <div class="text">
                                <h3 class="bottom15">
                                    <span class="d-inline-block">Fuel Station</span>
                                </h3>
                                <p>High Quality, Excellent Service, including fuel price discount to our loyal customers.</p>
                            </div>
                        </div>
                        <div class="feature-item mt-5 wow fadeInLeft" data-wow-delay="350ms" style="visibility: visible; animation-delay: 350ms; animation-name: fadeInLeft;">
                            <div class="icon"><i class="fas fa-shopping-basket"></i></div>
                            <div class="text">
                                <h3 class="bottom15">
                                    <span class="d-inline-block">Supermarket</span>
                                </h3>
                                <p>We are an independent chain of supermarkets.High quality, low prices and offers and hassle-free shopping that gets you in and out. A product assortment and store layout that’s refreshingly simple, yet full of surprises to discover at every visit.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="app-image top30">
                        <div class="app-slider-lock-btn"></div>
                        <div class="app-slider-lock">
                            <img src="~/images/iphone-slide-lock.jpg" alt="">
                        </div>
                        <div id="app-slider" class="owl-carousel owl-theme owl-loaded owl-drag">



                            <div class="owl-stage-outer">
                                <div class="owl-stage" style="transform: translate3d(-470px, 0px, 0px); transition: all 0s ease 0s; width: 1645px;">
                                    <div class="owl-item cloned" style="width: 235px;">
                                        <div class="item">
                                            <img src="~/images/iphone-slide2.jpg" alt="">
                                        </div>
                                    </div><div class="owl-item cloned" style="width: 235px;">
                                        <div class="item">
                                            <img src="~/images/iphone-slide3.jpg" alt="">
                                        </div>
                                    </div><div class="owl-item active" style="width: 235px;">
                                        <div class="item">
                                            <img src="~/images/iphone-slide1.jpg" alt="">
                                        </div>
                                    </div><div class="owl-item" style="width: 235px;">
                                        <div class="item">
                                            <img src="~/images/iphone-slide2.jpg" alt="">
                                        </div>
                                    </div><div class="owl-item" style="width: 235px;">
                                        <div class="item">
                                            <img src="~/images/iphone-slide3.jpg" alt="">
                                        </div>
                                    </div><div class="owl-item cloned" style="width: 235px;">
                                        <div class="item">
                                            <img src="~/images/iphone-slide1.jpg" alt="">
                                        </div>
                                    </div><div class="owl-item cloned" style="width: 235px;">
                                        <div class="item">
                                            <img src="~/images/iphone-slide2.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div>
                        </div>
                        <img src="~/images/logo.jpg" alt="image">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="text-center text-md-left">
                        <div class="feature-item mt-3 wow fadeInRight" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInRight;">
                            <div class="icon"><i class="fas fa-tint"></i></div>
                            <div class="text">
                                <h3 class="bottom15">
                                    <span class="d-inline-block">Lubricans</span>
                                </h3>
                                <p>We sell a veriety of lubricants.</p>
                            </div>
                        </div>
                        <div class="feature-item mt-5 wow fadeInRight" data-wow-delay="350ms" style="visibility: visible; animation-delay: 350ms; animation-name: fadeInRight;">
                            <div class="icon"><i class="fas fa-wrench"></i></div>
                            <div class="text">
                                <h3 class="bottom15">
                                    <span class="d-inline-block">Garage Services</span>
                                </h3>
                                <p>
                                    Our vehicle grooming Garage include a complete range of services right from basic  to detailed interior and upholstery cleaning, protective coating, vacuuming and dashboard polishing.

                                    Our workshops make use of high quality cleaning products and best equipments.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Mobile Apps ends-->
    <!-- Counters -->
    <section id="bg-counters" class="padding bg-counters parallax">
        <div class="container">
            <div class="row align-items-center text-center">
                <div class="col-lg-4 col-md-4 col-sm-4 bottom10">
                    <div class="counters whitecolor  top10 bottom10">
                        <span class="count_nums font-light" data-to="2020" data-speed="2500"> </span>
                    </div>
                    <h3 class="font-light whitecolor top20">Since We Started</h3>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p class="whitecolor top20 bottom20 font-light title">Our main ain to enhance customer's satisfanction and to provide good quality services</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 bottom10">
                    <div class="counters whitecolor top10 bottom10">
                        <span class="count_nums font-light" data-to="2020" data-speed="2500"> </span>
                    </div>
                    <h3 class="font-light whitecolor top20">Since We Started</h3>
                </div>
            </div>
        </div>
    </section>
    <!-- Counters ends-->
    <!-- Our Team-->
    <section id="our-team" class="padding_top half-section-alt teams-border">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
                        <span class="defaultcolor text-center text-md-left">Dons staff members </span>
                        <h2 class="darkcolor font-normal bottom30 text-center text-md-left">Meet Our Staff</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <p class="heading_space mt-n3 mt-sm-0 text-center text-md-left">These are some of our Staff members and their contacts.They facilitate well running of the Dons services to customers.More about our staff details are on <strong><u>About</u></strong> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="ourteam-slider" class="owl-carousel">
                        <div class="item">
                            <div class="team-box">
                                <div class="image">
                                    <img src="~/images/kili.jpg" alt="">
                                </div>
                                <div class="team-content">
                                    <h4 class="darkcolor">Kili Emmanuel</h4>
                                    <p>Dons Director</p>
                                    <ul class="social-icons-simple">
                                        <li><a class="facebook" href="javascript:void(0)"><i class="fab fa-facebook-f"></i> </a> </li>
                                        <li><a class="twitter" href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
                                        <li><a class="insta" href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-box">
                                <div class="image">
                                    <img src="~/images/bg-video-section.jpg" alt="">
                                </div>
                                <div class="team-content">
                                    <h4 class="darkcolor">Bore Brian </h4>
                                    <p>Manager</p>
                                    <ul class="social-icons-simple">
                                        <li><a class="facebook" href="javascript:void(0)"><i class="fab fa-facebook-f"></i> </a> </li>
                                        <li><a class="twitter" href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
                                        <li><a class="insta" href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-box single">
                                <div class="image">
                                    <img src="~/images/kili.jpg" alt="">
                                </div>
                                <div class="team-content">
                                    <h4 class="darkcolor">Victor Kipronoh</h4>
                                    <p>C E O</p>
                                    <ul class="social-icons-simple">
                                        <li><a class="facebook" href="javascript:void(0)"><i class="fab fa-facebook-f"></i> </a> </li>
                                        <li><a class="twitter" href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
                                        <li><a class="insta" href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-box">
                                <div class="image">
                                    <img src="~/images/team-4.jpg" alt="">
                                </div>
                                <div class="team-content">
                                    <h4 class="darkcolor">John Mwarabu</h4>
                                    <p>Marketing</p>
                                    <ul class="social-icons-simple">
                                        <li><a class="facebook" href="javascript:void(0)"><i class="fab fa-facebook-f"></i> </a> </li>
                                        <li><a class="twitter" href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
                                        <li><a class="insta" href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-box">
                                <div class="image">
                                    <img src="~/images/kili.jpg" alt="">
                                </div>
                                <div class="team-content">
                                    <h4 class="darkcolor">Elisha Rop</h4>
                                    <p>Print Media</p>
                                    <ul class="social-icons-simple">
                                        <li><a class="facebook" href="javascript:void(0)"><i class="fab fa-facebook-f"></i> </a> </li>
                                        <li><a class="twitter" href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
                                        <li><a class="insta" href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-box">
                                <div class="image">
                                    <img src="~/images/team-2.jpg" alt="">
                                </div>
                                <div class="team-content">
                                    <h4 class="darkcolor">Victor Kipronoh</h4>
                                    <p>Agency Owner</p>
                                    <ul class="social-icons-simple">
                                        <li><a class="facebook" href="javascript:void(0)"><i class="fab fa-facebook-f"></i> </a> </li>
                                        <li><a class="twitter" href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
                                        <li><a class="insta" href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-box">
                                <div class="image">
                                    <img src="~/images/kili.jpg" alt="">
                                </div>
                                <div class="team-content">
                                    <h4 class="darkcolor">Ishmael kiptanui</h4>
                                    <p>Staff</p>
                                    <ul class="social-icons-simple">
                                        <li><a class="facebook" href="javascript:void(0)"><i class="fab fa-facebook-f"></i> </a> </li>
                                        <li><a class="twitter" href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
                                        <li><a class="insta" href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Team ends-->
    <!--Pricing Start-->
   
    <!--Pricing ends-->
    <!-- Partners-->
   
    <!-- Partners ends-->
    <!-- Testimonials -->
    <section id="our-testimonial" class="bglight padding_bottom">
        <div class="parallax page-header testimonial-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6 col-md-12 text-center text-lg-right">
                        <div class="heading-title wow fadeInUp padding_testi" data-wow-delay="300ms">
                            <span class="whitecolor">Know more about ou team</span>
                            <h2 class="whitecolor font-normal">What People Say</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="owl-carousel" id="testimonial-slider">
                <!--item 1-->
                <div class="item testi-box">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-12 text-center">
                            <div class="testimonial-round d-inline-block">
                                <img src="~/images/kili.jpg" alt="">
                            </div>
                            <h4 class="defaultcolor font-light top15"><a href="#.">Gideon Bett</a></h4>
                            <p>Manager</p>
                        </div>
                        <div class="col-lg-6 offset-lg-2 col-md-10 offset-md-1 text-lg-left text-center">
                            <p class="bottom15 top90">We always enjoy hearing from our clients. Your opinion means so much to us, and gives us insight as to how we can continue improving our services. If you could take a moment to send us your feedback we would really appreciate it. We look forward to hearing from you!</p>
                            <span class="d-inline-block test-star">
                                <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <!--item 2-->
              
            </div>
        </div>
    </section>
    <!--testimonials end-->
    <!-- Contact US -->
    <!--Footer ends-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>

<!-- Mirrored from trax.acrothemes.com/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 10 Jul 2021 07:23:00 GMT -->
</html>