@{ ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout_website.cshtml"; }
<!DOCTYPE html>
<html lang="en">


<body>
    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="cssload-loader"></div>
        </div>
    </div>

    <section id="main-banner-page" class="position-relative page-header service-detail-header section-nav-smooth parallax">
        <div class="overlay overlay-dark opacity-7 z-index-1"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="page-titles whitecolor text-center padding_top padding_bottom">
                        <h2 class="font-xlight">We Love </h2>
                        <h2 class="font-bold">Walking line In Usable</h2>
                        <h2 class="font-xlight">Products</h2>
                        <h3 class="font-light pt-2">The Best Multipurpose Template in Market</h3>
                    </div>
                </div>
            </div>
            <div class="gradient-bg title-wrap">
                <div class="row">
                    <div class="col-lg-12 col-md-12 whitecolor">
                        <h3 class="double-left">Service Detail</h3>
                        <ul class="breadcrumb top10 bottom10 double-right">
                            <li class="breadcrumb-item hover-light"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item hover-light">Service Detail</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Page Header ends -->
    <!-- Services us -->
    <section id="our-services" class="padding bglight">
        <div class="container">
            <div class="row whitebox top15">
                <div class="col-lg-4 col-md-5">
                    <div class="image widget bottom20"><img alt="SEO" src="~/images/general.jpg"></div>
                    <div class="col-12 px-0">
                        <div class="w-100">
                            <div class="full-map short-map" id="map"></div>
                        </div>
                    </div>
                    <div class="widget heading_space text-center text-md-left">
                        <h4 class="text-capitalize darkcolor bottom20">Need Help?</h4>
                        <div class="contact-table colorone d-table bottom15">
                            <div class="d-table-cell cells">
                                <span class="icon-cell"><i class="fas fa-mobile-alt"></i></span>
                            </div>
                            <div class="d-table-cell cells">
                                <p class="bottom0">+254 722 999 909 <span class="d-block">+254 799 092 727</span></p>
                            </div>
                        </div>
                        <div class="contact-table colorone d-table bottom15 text-left">
                            <div class="d-table-cell cells">
                                <span class="icon-cell"><i class="fas fa-map-marker-alt"></i></span>
                            </div>
                            <div class="d-table-cell cells">
                                <p class="bottom0">
                                    Kapsoit-Kabianga road,
                                    <span class="d-block">Chepmyoga CBD</span>
                                </p>
                            </div>
                        </div>
                        <div class="contact-table colorone d-table text-left">
                            <div class="d-table-cell cells">
                                <span class="icon-cell"><i class="far fa-clock"></i></span>
                            </div>
                            <div class="d-table-cell cells">
                                <p class="bottom0">
                                    Mon to Sun - 6:00am to 11:00pm
                                    <span class="d-block">24/7 Working</span>
                                </p>
                            </div>
                        </div>
                        <a href="#." class="button btnsecondary gradient-btn top30"> Download Brochure</a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="widget heading_space text-center text-md-left">
                        <h3 class="darkcolor font-normal bottom30">Finacial Planning</h3>
                        <p class="bottom30">
                            Dons Place offers a wide range of quality products and services designed to ensure optimal performance in African conditions and to meet your motoring requirements. Our petroleum products include;

                        </p>
                        <p class="bottom30">
                            a) Premium Motor Spirit (PMS)/Petrol<br />
                            b) Automotive Gas Oil (AGO)/ Diesel<br />
                            c) Kerosene (IK)
                        </p>
                        <div class="owl-carousel" id="service-detail">
                            <div class="item">
                                <div class="image"><img alt="SEO" src="~/images/supermarket.jpg"></div>
                            </div>
                            <div class="item">
                                <div class="image"><img alt="SEO" src="~/images/petrol view.jpg"></div>
                            </div>
                            <div class="item">
                                <div class="image"><img alt="SEO" src="~/images/carwash.jpg"></div>
                            </div>
                            <div class="item">
                                <div class="image"><img alt="SEO" src="~/images/lubricans.jpg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link darkcolor" data-toggle="collapse" href="#collapseOne">Our Mission</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>To be a result-Oriented oil marketing company with high quality petroleum products through teamwork, creativity, innovation, integrity, and reliable service delivery.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapseTwo">Our Goals</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>To be the most reliable and progressive Oil Marketing Company in East and Central Africa, relentless in the pursuit of customer satisfaction and employees excellence</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapseThree">Our Promise </a>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>
                                                » World-class products
                                                <br />
                                                » Innovative solutions to cater for your needs
                                                <br />
                                                » Expert technical advice and solutions
                                                <br />
                                                » Open, honest and transparent  working environment
                                                <br />
                                                » First-class account management
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link darkcolor" data-toggle="collapse" href="#collapseFour">Our Values </a>
                                    </div>
                                    <div id="collapseFour" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>
                                                » Performance
                                                <br />
                                                » Health, Safety and Environment
                                                <br />
                                                » People
                                                <br />
                                                »Integrity
                                                <br />
                                                » Innovation
                                                <br />
                                                » Mutual Advantage
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mt-5 mt-md-0">
                            <form class="getin_form wow fadeInUp" data-wow-delay="400ms">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="First Name:" required id="first_name1" name="first_name">
                                            <label for="first_name1" class="d-none"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <input class="form-control" type="tel" placeholder="Company Name" id="company-name1">
                                            <label for="company-name1" class="d-none"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <input class="form-control" type="email" placeholder="Email:" required id="email1" name="email">
                                            <label for="email1" class="d-none"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <textarea class="form-control" placeholder="Request a FreeConsultation" required id="FreeConsultation1"></textarea>
                                            <label for="FreeConsultation1" class="d-none"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <button type="submit" class="button gradient-btn w-100" id="submit_btn1">Free Consultation</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services us ends -->
</body>

<!-- Mirrored from trax.acrothemes.com/services-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 10 Jul 2021 07:23:39 GMT -->
</html>