<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Supreme Sai Enterprise</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/images/saina_logo2.png" rel="icon">
  <link href="./images/saina_logo2.png" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="~/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="~/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="~/css/style.css" rel="stylesheet">
    <link href="~/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <meta name="google-site-verification" content="j4mBMPa8ZcLfPcM9KVGTpbT4FCLTpnsZ1V2gC9gciwA" />
</head>
<body>
    <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <h3 class="logo me-auto"><a href="/website/index"><img src="~/images/logo.png"/> Agusto Holdings Limited.</a></h3>
     
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/website/index" class="active">Home</a></li>

         
          @*<li><a href="services.html">About</a></li>*@
              <li><a href="/website/testimonials">Testimonials</a></li>

          <li><a href="/website/products">Fuel Products</a></li>
          <li><a href="/website/contacts">Contact</a></li>
          @*<li><a href="/website/category">Login</a></li>*@
          <li><a href="/system_users/landing_page" class="getstarted">Log in</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
    <div class="top_bar fixed-top">



    </div>


 
    <div class="container-fluid bring_to_front " style=" padding:0!important">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
         <footer id="footer">
    <div class="footer-top">
      <div class="container">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Agustotech Holdings Limited.</h3>
              <p>
           
                P.O. BOX. 65-30700.<br><br>
                Iten.
                <strong>Phone:</strong> +254722639467<br>
                <strong>Email:</strong>agustotech18@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                @*<a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>*@
                <a href="https://www.facebook.com/search/top?q=agusto%20filing%20station" class="facebook"><i class="bx bxl-facebook"></i></a>
              @*  <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>*@
              </div>
            </div>
          </div>

        @*  <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>*@

        

        @*  <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>*@

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Agusto Tech Limited</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/sailor-free-bootstrap-theme/ -->
        Designed by <a href="https://bootstrapmade.com/">Fuela Holdings</a>
      </div>
    </div>
    <div class="floating-container">
  <div class="floating-button text-sm " style="font-size:10px;z-index:2000!important">	
	
<i class="fa fa-plus" style="z-index:2000!important"></i></div>
  <div class="element-container">

    <a href="tel:+254722639467"  class="float-element tooltip-left">
     <i class="fa fa-phone"></i>
      </a>

      <a href="https://wa.me/+254722639467?text=I'm%20interested%20in%20your%20service%20please%20reach%20back" class="float-element">
     <i class="fa fa-whatsapp"></i>
    </a>
     
  </div>
</div>
  </footer><!-- End Footer -->

    </div>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="~/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="~/vendor/php-email-form/validate.js"></script>
   @*<script language="JavaScript" type="text/javascript"> var $jQuery = jQuery.noConflict(); </script>*@
    
   <!-- Template Main JS File -->
  <script src="~/js/main.js"></script>

  <script>
  
var i = 0;
var txt = 'Agustotech holdings';
var speed = 200;

function typeWriter() {
    if (i < txt.length) {
        document.getElementById("write").innerHTML += txt.charAt(i);
        i++;
        setTimeout(typeWriter, speed);
    }
}
typeWriter()
  </script>
</body>
</html>
